@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #f4f4f4;

  /* header */
  
  .header {
    background-color: #683aff;
    position: fixed;
    width: 100%;
    z-index: 3;
    color: rgb(203, 203, 203);
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #683aff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    a {
      color: rgb(203, 203, 203);
    }
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #f4f4f4;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #f4f4f4;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .work__title {
    font-family: 'Poppins', sans-serif;
    margin-left: 6vw;
    margin-top: 45vh;
  }

.projects__grid { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 6px;
    grid-row-gap: 6px; 
    margin-left: 6vw;

    .project__desc {
        font-family: 'Poppins', sans-serif;
    }
  }

  .skills__title {
    font-family: 'Poppins', sans-serif;
    margin-left: 6vw;
  }

  .skills__grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 6px;
    grid-row-gap: 6px; 
    margin-left: 6vw;

    .skills__desc {
      font-family: 'Poppins', sans-serif;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    .skills__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightgrey;
    width: 100%;
    height: 10vh;
    position: fixed;
    left: 0px;
    bottom: 0px;

  .footer__imagecontainer {
    display: flex;
    height: 10vh;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
  
        .footer__image {
            height: 25px;
            width: 25px;
            margin-left: 30px;
            margin-right: 30px;
        }
        
        .mid__image {
            height: 25px;
            width: 25px;
            margin-left: 15px;
            margin-right: 15px;
        }  
    }
}

}