@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #1f1f26;
    margin: 0;

    h3 {
      font-family: 'Poppins', sans-serif;
      margin-left: 6vw;
      color: #f2f5ff;
    }

    h4 {
      font-family: 'Poppins', sans-serif;
      color: #f2f5ff;
    }

    li {
      text-decoration: none;
      margin-left: 6vw;
    }

  /* header */
  
  .header {
    background-color: #6858c4;
    // position: fixed;
    width: 100%;
    z-index: 1;
    color: #f2f5ff;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #6858c4;
    text-decoration: none;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f2f5ff;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #6858c4;
    text-decoration: none;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    a {
      color: #f2f5ff;
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      margin-bottom: 4vh;
    }
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #f2f5ff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #f2f5ff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .grid__container { 
    margin-bottom: 10vh;

    .projects__grid { 
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(5, 1fr); 
      grid-auto-flow: column;
      grid-column-gap: 10px;
      grid-row-gap: 10px; 
      margin-left: 6vw;

        .project__desc {
          font-family: 'Poppins', sans-serif;
          color: #f2f5ff;
        }
    }
  }

  section {

  .skills__grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    margin-left: 6vw;
    margin-bottom: 4vh;

    .skills__desc {
      font-family: 'Poppins', sans-serif;
      display: flex;
      align-items: center;
      justify-content: left;
      color: #f2f5ff;
    }

    .skills__img {
      display: flex;
      align-items: center;
    }
  }
}

.cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #8f8f93;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0px;
    bottom: 0px;

  .footer__imagecontainer {
    display: flex;
    height: 8vh;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
  
        .footer__image {
            height: 25px;
            width: 25px;
            margin-left: 30px;
            margin-right: 30px;
        }
        
        .mid__image {
            height: 25px;
            width: 25px;
            margin-left: 15px;
            margin-right: 15px;
        }  
    }
}

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 2560px) {

}