@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-color: #1f1f26;
  margin: 0;
  /* header */
  /* menu */
  /* menu icon */
  /* menu btn */
}
body h3 {
  font-family: "Poppins", sans-serif;
  margin-left: 6vw;
  color: #f2f5ff;
}
body h4 {
  font-family: "Poppins", sans-serif;
  color: #f2f5ff;
}
body li {
  text-decoration: none;
  margin-left: 6vw;
}
body .header {
  background-color: #6858c4;
  width: 100%;
  z-index: 1;
  color: #f2f5ff;
}
body .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #6858c4;
  text-decoration: none;
  position: relative;
  left: 70%;
}
body .header li a {
  display: flex;
  width: 20%;
  padding: 20px 20px;
  border-right: 1px solid #f2f5ff;
  text-decoration: none;
}
body .header li a:hover,
body .header .menu-btn:hover {
  background-color: #6858c4;
  text-decoration: none;
}
body .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
body .header .menu a {
  color: #f2f5ff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-bottom: 4vh;
}
body .header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
body .header .menu-icon .navicon {
  background: #f2f5ff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
body .header .menu-icon .navicon:before,
body .header .menu-icon .navicon:after {
  background: #f2f5ff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
body .header .menu-icon .navicon:before {
  top: 5px;
}
body .header .menu-icon .navicon:after {
  top: -5px;
}
body .header .menu-btn {
  display: none;
}
body .header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
body .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
body .header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
body .header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
body .grid__container {
  margin-bottom: 10vh;
}
body .grid__container .projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 6vw;
}
body .grid__container .projects__grid .project__desc {
  font-family: "Poppins", sans-serif;
  color: #f2f5ff;
}
body .grid__container .projects__grid .project__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .skills__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 6vw;
  margin-bottom: 4vh;
}
body section .skills__grid .skills__desc {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #f2f5ff;
}
body section .skills__grid .skills__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
body footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #8f8f93;
  width: 100%;
  height: 8vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
body footer .footer__imagecontainer {
  display: flex;
  height: 8vh;
  width: 50%;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
}
body footer .footer__imagecontainer .footer__image {
  height: 25px;
  width: 25px;
  margin-left: 30px;
  margin-right: 30px;
}
body footer .footer__imagecontainer .mid__image {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #1f1f26;
    margin: 0;
    /* header */
    /* menu */
    /* menu icon */
    /* menu btn */
  }
  body h3 {
    font-family: "Poppins", sans-serif;
    margin-left: 6vw;
    color: #f2f5ff;
  }
  body h4 {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
  }
  body li {
    text-decoration: none;
    margin-left: 6vw;
  }
  body .header {
    background-color: #6858c4;
    width: 100%;
    z-index: 1;
    color: #f2f5ff;
  }
  body .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #6858c4;
    text-decoration: none;
  }
  body .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f2f5ff;
    text-decoration: none;
  }
  body .header li a:hover,
body .header .menu-btn:hover {
    background-color: #6858c4;
    text-decoration: none;
  }
  body .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  body .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  body .header .menu a {
    color: #f2f5ff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-bottom: 4vh;
  }
  body .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  body .header .menu-icon .navicon {
    background: #f2f5ff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  body .header .menu-icon .navicon:before,
body .header .menu-icon .navicon:after {
    background: #f2f5ff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  body .header .menu-icon .navicon:before {
    top: 5px;
  }
  body .header .menu-icon .navicon:after {
    top: -5px;
  }
  body .header .menu-btn {
    display: none;
  }
  body .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  body .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  body .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  body .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  body .grid__container {
    margin-bottom: 10vh;
  }
  body .grid__container .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    justify-content: center;
  }
  body .grid__container .projects__grid .project__desc {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
  }
  body .grid__container .projects__grid .project__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section .skills__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    margin-bottom: 4vh;
  }
  body section .skills__grid .skills__desc {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #f2f5ff;
  }
  body section .skills__grid .skills__img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }
  body footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #8f8f93;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  body footer .footer__imagecontainer {
    display: flex;
    height: 8vh;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
  }
  body footer .footer__imagecontainer .footer__image {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  body footer .footer__imagecontainer .mid__image {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: #1f1f26;
    margin: 0;
    /* header */
  }
  body h3 {
    font-family: "Poppins", sans-serif;
    margin-left: 6vw;
    color: #f2f5ff;
    font-size: 200%;
  }
  body h4 {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
    font-size: 150%;
  }
  body p {
    font-size: 150%;
  }
  body li {
    text-decoration: none;
    margin-left: 6vw;
    font-size: 150%;
  }
  body .header {
    background-color: #6858c4;
    width: 100%;
    z-index: 1;
    color: #f2f5ff;
  }
  body .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #6858c4;
    text-decoration: none;
  }
  body .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f2f5ff;
    text-decoration: none;
  }
  body .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  body a {
    color: #f2f5ff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-bottom: 4vh;
  }
  body .grid__container {
    margin-bottom: 10vh;
  }
  body .grid__container .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    justify-content: center;
  }
  body .grid__container .projects__grid .project__desc {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
  }
  body .grid__container .projects__grid .project__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section .skills__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    margin-bottom: 4vh;
  }
  body section .skills__grid .skills__desc {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #f2f5ff;
  }
  body section .skills__grid .skills__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }
  body .cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }
  body footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #8f8f93;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  body footer .footer__imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 50%;
    margin-left: 25%;
  }
  body footer .footer__imagecontainer .footer__image {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  body footer .footer__imagecontainer .mid__image {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-color: #1f1f26;
    margin: 0;
    /* header */
  }
  body h3 {
    font-family: "Poppins", sans-serif;
    margin-left: 6vw;
    color: #f2f5ff;
    font-size: 200%;
  }
  body h4 {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
    font-size: 150%;
  }
  body p {
    font-size: 150%;
  }
  body li {
    text-decoration: none;
    margin-left: 6vw;
    font-size: 150%;
  }
  body .header {
    background-color: #6858c4;
    width: 100%;
    z-index: 1;
    color: #f2f5ff;
  }
  body .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #6858c4;
    text-decoration: none;
  }
  body .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f2f5ff;
    text-decoration: none;
  }
  body .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  body a {
    color: #f2f5ff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-bottom: 4vh;
  }
  body .grid__container {
    margin-bottom: 10vh;
  }
  body .grid__container .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    justify-content: center;
  }
  body .grid__container .projects__grid .project__desc {
    font-family: "Poppins", sans-serif;
    color: #f2f5ff;
  }
  body .grid__container .projects__grid .project__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section .skills__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 6vw;
    margin-bottom: 4vh;
  }
  body section .skills__grid .skills__desc {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #f2f5ff;
  }
  body section .skills__grid .skills__img {
    display: flex;
    align-items: center;
  }
  body .cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }
  body footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #8f8f93;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  body footer .footer__imagecontainer {
    display: flex;
    height: 8vh;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
  }
  body footer .footer__imagecontainer .footer__image {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  body footer .footer__imagecontainer .mid__image {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
}